.dropdown {
  user-select: none;
}

.dropdown-head {
  width: 100%;
  height: 2rem;
  background-color: var(--gray-800);
  color: var(--default-text-color);
  border-bottom: 1px solid var(--border-color);
  transition: background-color 200ms;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-head h4 {
  font-weight: 400;
  z-index: 2;
}

.dropdown-head-left {
  display: flex;
  align-items: center;
  flex-grow: 100;
}

.filemenu-right-icon {
  height: 1.5rem;
  background-color: var(--gray-700);
  border-radius: .3em;
  margin-right: .3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  transition: opacity 200ms;
}

.filemenu-right-icon img {
  height: 60%;
  padding: 0 .4rem 0 .4rem;
}

.dropdown-head:hover .filemenu-right-icon {
  opacity: 1;
  cursor: pointer;
}

.dropdown-item:hover .filemenu-right-icon {
  opacity: 1;
  cursor: pointer;
}

.dropdown-icon {
  height: 8px;
  width: auto;
  transform: rotate(90deg);

  transition: transform 200ms;
}

.dropdown-head-left > * {
  margin-left: .4rem;
}

.dropdown-active {
  background-color: var(--gray-600);
}

.dropdown-active-icon {
  transform: rotate(180deg);
}

.dropdown-list {
  background-color: var(--gray-800);
  list-style-type: none;
  color: white;
  visibility: hidden;
  position: absolute;
  opacity: 0;

  transform: translateY(-50px);
  transition: all 200ms;
}

.dropdown-list-active {
  position: relative;
  transform: translateY(0px);
  visibility:visible;
  opacity: 1;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 2.3rem;
  
  font-size: 15px;
  z-index: 1;

  transition: background-color 200ms;
}

.dropdown-item-left {
  display: flex;
  align-items: center;
  flex-grow: 100;
  height: 100%;
  padding-left: 1.5rem;
}

.dropdown-file-icon {
  height: 15px;
  width: 15px;
  margin-right: .5rem;
}

.dropdown-item:hover {
  background-color: var(--gray-600);
  cursor: pointer;
}

.active-file {
  background-color: var(--gray-700);
}
