.new-folder-dialog {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-card {
  background-color: var(--gray-500);
  width: 20%;
  height: 20%;
  border-radius: 1em;
  color: var(--default-text-color);
  padding: 1rem;
}