.output-root {
  background-color: var(--gray-800);
  height: 50%;
  color: var(--default-text-color);
  
  display: flex;
  flex-direction: column;
}

.output-head {
  background-color: var(--gray-700);
  border-bottom: 1px solid var(--border-color);
  height: 2rem;

  display: flex;
  align-items: center;
  padding-left: .5rem;
}

.output-main {
  position: relative;
  flex-grow: 1;

  overflow: hidden;
}

.output-main canvas {
  background-color: aliceblue;
}