.preferences-root {
  color: var(--default-text-color);
  text-align: center;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
}

.preferences-root ul {
  list-style-type: none;
}

.preferences-root h1 {
  margin: 1rem 0 1rem 0;
}

.preferences-root h2 {
  margin-bottom: 1rem;
}

.preferences-root li {
  margin-bottom: 3rem ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.preferences-item {
  width: 40%;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.preferences-item select{
  border: none;
  border-radius: 1em;
  padding: .4em;

  transition: border-radius 200ms;
}

.preferences-item select:hover {
  border-radius: .2em;
}

.preferences-item select:focus {
  outline: none;
  background-color: white;
}

.preferences-root button {
  border: none;
  border-radius: 1em;
  padding: .6em;

  transition: background-color 200ms;
}

.preferences-root button:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}